<div  id="navbar1" class="contain-to-grid">
  <nav  class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul id="nav1" class="left">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>

        <!-- options for stores -->
        <li class="has-dropdown">
          <%= link_to "Stores", stores_path %>
          <ul class="dropdown">
            <li><%= link_to "Store List", stores_path %></li>
            <% if can? :manage, Store %>
            <li><%= link_to "Add a Store", new_store_path %></li>
            <% end %>
          </ul>
        </li>

        <!-- options for employees -->
        <% if current_user.present? %>
          <% if current_user.role? :employee %>
          <% elsif current_user.role? :admin%> 
            <li class="has-dropdown">
              <%= link_to "Employees", employees_path %>
              <ul class="dropdown">
                <li><%= link_to "Employee List", employees_path %></li>
                <li><%= link_to "Add an Employee", new_employee_path %></li>
              </ul>
            </li>
              <!-- options for assignments -->
            <li class="has-dropdown">
              <%= link_to "Assignments", assignments_path %>
              <ul class="dropdown">
                <li><%= link_to "Assignments List", assignments_path %></li>
                <li><%= link_to "Create New Assignment", new_assignment_path %></li>
              </ul>
            </li>
              <!-- options for shifts -->
            <li class="has-dropdown">
              <%= link_to "Shifts", shifts_path %>
              <ul class="dropdown">
                <li><%= link_to "Shifts List", shifts_path %></li>
                <li><%= link_to "Create New Shift", new_shift_path %></li>
              </ul>
            </li>
            <!-- options for jobs -->
            <li class="has-dropdown">
              <%= link_to "Jobs", jobs_path %>
              <ul class="dropdown">
                <li><%= link_to "Jobs List", jobs_path %></li>
                <li><%= link_to "Create New Job", new_job_path %></li>
              </ul>
            </li>
            <!-- options for flavors -->
            <li class="has-dropdown">
              <%= link_to "Flavors", flavors_path %>
              <ul class="dropdown">
                <li><%= link_to "Flavors List", flavors_path %></li>
                <li><%= link_to "Create New Flavor", new_flavor_path %></li>
              </ul>
            </li>
            <!-- options for Store Flavors -->
            <li class="has-dropdown">
              <%= link_to "Store Flavors", store_flavors_path %>
              <ul class="dropdown">
                <li><%= link_to "Store Flavors List", store_flavors_path %></li>
                <li><%= link_to "Create New ", new_store_flavor_path %></li>
              </ul>
            </li>
          <% elsif current_user.role? :manager %>
            <li class="has-dropdown">
              <%= link_to "Employees", employees_path %>
              <ul class="dropdown">
                <li><%= link_to "Employee List", employees_path %></li>
                
              </ul>
            </li>
            <!-- options for Store Flavors -->
            <li class="has-dropdown">
              <%= link_to "Store Flavors", store_flavors_path %>
              <ul class="dropdown">
                <li><%= link_to "Store Flavors List", store_flavors_path %></li>
                <li><%= link_to "Create New ", new_store_flavor_path %></li>
              </ul>
            </li>

          <% end %> 
          

          
          

        <%end %>
      </ul>

    </section>
  </nav>
</div>